Google Colaboratoryの検証

In [ ]:
print("hello world")

In [ ]:
numbers = [10, 13, 14, 15, 20, 27, 30]
even_sum = 0
odd_sum = 0

for i in numbers:
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i
print("Even sum:", even_sum)
print("Odd sum:", odd_sum)

In [ ]:
import numpy as np

num_list = np.array([[1, 2, 3, 4, 5], [1, 2, 3, 4, 5]])

In [ ]:
import pandas as pd

data1 = {
    "name": ["田中","山田","佐藤"],
    "post": ["営業部", "技術部", "経理部"],
    "age": [22, 55, 34]
}

df = pd.DataFrame(data1)

df